@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.color{
  color:#3f6a1a;
 color:#2a4e12;
  color:#4b751e;
  
  color: #916d2b;
  color:#b07a1f;
 color: #cd8c26;
  color:#e6b539;
  color:#fceca9;
 color: #fffbdf;

 color:#1e3f4c;
 color: #2e505f;
 color:#3f677e;
 color: #586d80;
 color: #60757a;
  color:#6e8a91;
 color: #80a3af;
  color:#a6c2cd;
 color: #e0eff6;

 color: #b8281f;
 color: #e04a3e;
 color: #1a6642;
 color: #3fb86b;
 
}
.tcolor3{
  color: #60757a;
}
.tcolor2{
  color:#102a42;
}
.tcolor1{
  color:#fff;
}
.tcolor4{
  color: #000;;
}
.tcolor6{
  color:#BA5D2C;;
}
*{
  margin:0%;
  padding: 0%;
}
.bcolor{
  background-color:#BA5D2C;
}
.container{
 display: flex;
  max-width: 1300px;
  margin: 0,auto;
  flex-direction: column;
  
}
.container2{
  width: 1180px;
  margin:0, auto;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HEAD SECTION */
.headsec{
  /* height: 600px; */
 
  width: 100%;
  background-image: url("/images/main-bcg.jpeg");
  background-size:cover;
  background-position: center;
 

}
.layer {
  background-color: rgba(63, 103, 126, 0.2);
  width: 100%;
  height: inherit;
}
.nav {
   margin: auto;
   display: flex;
  justify-content: space-between;
  
}
.logo{
  width:55%;
  align-items: center;
   display: flex;
 justify-content:space-between;
 align-items: center;
}
.h1 {

   /* padding-top: 17px; */
   font-size:50px;
   font-family: 'Helvetica Neue';
   font-style: italic;
   text-align: center;
}
.navcon {
  width: 45%;
   display: flex;
   list-style-type: none;
   align-items: center;
   padding-top: 5px;
}
.navcon li {
  font-size: 30px;
   align-items: baseline;
   /* font-weight: bold; */
   font-family:  'Open Sans';
   
}
.navcon li a {
   display: block;
   text-align: center;
   padding: 10px 18px;
   text-decoration: none;
   margin: 5px;
}
.navcon li a:hover {
   color:#BA5D2C;
}
.icon{
  position: relative;
  padding-top: 17px;
  font-size:30px;
  font-weight: bold; 
}
.sec1c{
  height:450px;
  display: flex;
  margin: auto;
  justify-content:space-between;
  align-items: center;
  flex: 1;
  
}
.textarea{
 padding-left: 5px;
}
.heading{
  line-height: 120px;
  font-size: 80px;
  font-weight: bolder;
  font-family:'Helvetica Neue';
   font-style: italic;
}
.textarea p{
  font-size: 40px;
  font-family: 'Helvetica Neue';
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn{
  margin-top: 10px;
  width: 150px;
  font-size: 20px;
  padding: 10px;

  color: #fff;
  background-color: transparent;
  
}
.btn1{
  border: 2px solid #fff;
  border-radius: 5px;
}
.btn1:hover{
 background-color:#fff;
 color:#BA5D2C;
}

.ic1{
  height:25px;
  width:25px;
  border-radius: 50px;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  right: 27px;
  top: 13px;
}
.heading1{
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
}
.sec2c
{
    margin: auto;
} 
.heading2{
 
  text-align: center;
  margin-top:50px;
}
.cardscon{
  padding-top: 40px;
  width:100%;
  margin: auto;
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
}
.cardscon1{
  padding-top: 40px;
  width:100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
 
  flex-wrap: wrap;
}
.cardc{
  gap:20px;
}
.card1{
  height: 380px;
   width:370px;
   display: flex;
   justify-content: center;
   flex-flow: column;
   text-align: center;
   box-sizing: border-box;
   margin-bottom: 40px;
  
  }
  .card2{
    height: 300px;
     width:360px;
     display: flex;
    justify-content: space-evenly;
    flex-flow: column;
     text-align: center;
     box-sizing: border-box;
     margin-bottom: 40px;
     
    
    }
  .cardimage{
      position: relative;
      width: 370px;
      height:300px;
     border-radius: 10px;
      background-size: cover;
      background-position: center;
  }


  .cardimage2{
    background-image: url('/images/product-9.jpeg');
  }
  .cardimage1{
      
      background-image: url('/images/product-1.jpeg');
    
  }
  .cardimage3{
      
    background-image: url('/images/product-4.jpeg');
  
}
.cardimage4{
      
  background-image: url('/images/product-7.jpeg');

}
.cardimage5{
      
  background-image: url('/images/product-5.jpeg');

}
.cardtext{
  text-align: center;
  padding-top: 15px;
  font-family:  'Open Sans';
   font-size: large;
}
.btn2{
  margin-left:490px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  border: none;
  margin-bottom: 70px;

}
.imgicon1{
  height:35px;
  width:35px;
  border-radius: 50px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
 
}
.position1{
  left: 155px;
  top:83px;
  padding-top: 5px;
  margin: auto;
}
.position2{
  left: 200px;
  top:83px;
  padding-top: 5px;
  margin: auto;
}
.imgoverlay{
  visibility: hidden;
  position: absolute;
  transition: .5s ease;
}

.cardimage1:hover .imgoverlay
{
  visibility: visible;
}
.cardimage2:hover .imgoverlay
{
  visibility: visible;
}
.cardimage3:hover .imgoverlay
{
  visibility: visible;
}
.cardimage4:hover .imgoverlay
{
  visibility: visible;
}
.cardimage5:hover .imgoverlay
{
  visibility: visible;
}
/* Styling of product page */
.bcolor1{
  background-color:#F1F5F8;
}

.productsec1{
width: 100%;
margin: auto;
}
.tcolor5{
  color: #69849D;
}
.heading3{
  line-height: 120px;
  font-size: 30px;
  font-weight: bold;
  font-family:  'Open Sans';
 
}
.toogleicon{
  position: absolute;
  
}
.sidebar{
  width: 400px;
  height: 100vh;
  background-color: #fff;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0px;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  z-index: 1;
 
}

.sidetext{
  padding-top: 20px; 
  font-family: 'Helvetica Neue'; 
  font-style: italic;
   text-align: center; 
   font-size:40px;
   align-self: center;
   color: #000;

}
.btn3{
  width: 200px;
  font-size: 16px;
  padding: 5px;
  border: none;
  margin-top: 20px;
  align-self: center;
}
.sidecontent{

  display: flex;
 flex-direction: column;

 justify-content: center;
}
